{% extends "layout.html" %}

{% block title %}Muokkaa ilmoitusta{% endblock %}

{% block content %}
<h2>{{ item.title }}</h2>
<h3>Muokkaa ilmoitusta</h3>
<form action="/update_item" method="post">
  <p>
    <label for="title">Otsikko</label>: <br />
    <input type="text" name="title" id="title" value="{{ item.title }}" maxlength="50" required/>
  </p>
  <p>
    <label for="description">Kuvaus</label>: <br />
    <textarea name="description" id="description" rows="8" cols = "60" maxlength="500" required>{{ item.description }}</textarea>
  </p>
  {% for class in all_classes %}
  <p>
    <label for="class{{ class }}">{{ class }}</label>: <br />
    <select name="classes" id="class{{ class }}">
      <option value="">(valitse)</option>
    {% for option in all_classes[class] %}
      {% if classes[class] == option %}
      <option value="{{ class }}:{{ option }}" selected>{{ option }}</option>
      {% else %}
      <option value="{{ class }}:{{ option }}">{{ option }}</option>
      {% endif %}
    {% endfor %}
    </select>
  </p>
  {% endfor %}
  <p>
    Paikkakunta: <br />
    <input type="text" name="location" size="35" value="{{ item.location }}" maxlength="50"/>
  </p>
  <input type="hidden" name="item_id" value="{{ item.id }}"/>
  <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}" />
  <input type="submit" name="update" value="Päivitä ilmoitus"/>
  <input type="submit" name="return" value="Palaa takaisin">
</form>
{% endblock %}